<a href="https://colab.research.google.com/github/JooHyunLimm/Python/blob/main/20220407.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
def say_myself(name,old,forigner=False,man=True):
  print('나의 이름은 %s 입니다'%name)
  print('나의 나이는 %d살 입니다.'%old)
  if forigner:
    print('외국인입니다.')
  else:
    print('내국인 입니다.')
  if man:
    print('남자입니다.')
  else:
    print('여자입니다.')
say_myself('임주현',22,False,True)

나의 이름은 임주현 입니다
나의 나이는 22살 입니다.
내국인 입니다.
남자입니다.

In [ ]:
def say_myself(name,old,sex):
  print('나의 이름은 %s 입니다'%name)
  print('나의 나이는 %d살 입니다.'%old)
  if sex=='남자':
    print('남자입니다.')
  elif sex=='여자':
    print('여자입니다.')
  else:
    print('성별을 다시 입력해 주세요')
say_myself('임주현',22,'남자')

나의 이름은 임주현 입니다
나의 나이는 22살 입니다.
남자입니다.

In [ ]:
a=1
def vartest(a):
  a=a+1
  return a
vartest(a)
print(a)

2

In [ ]:
a=7
def vartest():
  global a
  a= a+1
vartest()
print(a)

8

In [ ]:
def vartest(a):
  a=a+1
  return a
a=vartest(a)
print(a)

9

In [ ]:
nubmer=input('숫자를 입력하세요.')

숫자를 입력하세요.

In [ ]:
print("life""is""too","short")

lifeistoo short

In [ ]:
for i in range(1,10):
  for d in range(1,10):
    print(i*d,end =" ")
  print('')

1 2 3 4 5 6 7 8 9
2 4 6 8 10 12 14 16 18
3 6 9 12 15 18 21 24 27
4 8 12 16 20 24 28 32 36
5 10 15 20 25 30 35 40 45
6 12 18 24 30 36 42 48 54
7 14 21 28 35 42 49 56 63
8 16 24 32 40 48 56 64 72
9 18 27 36 45 54 63 72 81

In [ ]:
f=open('새파일.txt','w')
for i in range(1,11):
    date="%d번째 줄입니다.\n"%i
    f.write(date)
f.close()

In [ ]:
f=open('새파일.txt','r')
while True:
    line=f.readline()
    if not line: break
    print(line.strip("\n"),end= " ")
f.close()

1번째 줄입니다. 2번째 줄입니다. 3번째 줄입니다. 4번째 줄입니다. 5번째 줄입니다. 6번째 줄입니다. 7번째 줄입니다. 8번째 줄입니다. 9번째 줄입니다. 10번째 줄입니다.

In [ ]:
f= open('새파일.txt','a')
for i in range(11,21):
    add="%d번째 줄입니다."% i
    f.write(add)
f.close()

In [ ]:
f=open("새파일.txt",'r')
while True:
  read=f.read()
  if not read: break
  print(line.strip("\n"))
f.close()

In [ ]:
with open("새파일1.txt",'w') as f:
    f.write("life is too short")

In [ ]:
class Fourcal:
  def __init__(self,first,second):
    self.first=first
    self.second=second
  def seting(self,first,second):
        self.first = first
        self.second = second
  def add(self):
        result = self.first + self.second
        return result

b=Fourcal(3,4)
print(b.add())

7

In [ ]:
class Fourcal:
    def __init__(self,first,second):
        self.first=first
        self.second=second
    def seting(self,first,second):
        self.first = first
        self.second = second
    def add(self):
        result = self.first + self.second
        return result
    def sub(self):
        result = self.frist - self.second
        return result
    def mul(self):
        result = self.first * self.second
        return result
    def div(self):
        result = self.first / self.second
        return result
#위 내용 부모 funtion
class Morefourcal(Fourcal):
  def div(self):
    if self.second==0:
        return 0
    else:
        return self.first / self.second
a = Morefourcal(7,0)
print(a.div())
#자녀 funtion

0

In [6]:
try:
  4 / 0
except ZeroDivisionError as e:
  print(e)
print('hello')

division by zero
hello

In [11]:
try:
  f = open("none","r")
except Exception as e:
    print(str(e))
else:
  date = f.redline()
  print(date)
  f.close()

[Errno 2] No such file or directory: 'none'