<a href="https://colab.research.google.com/github/JooHyunLimm/Python/blob/main/Untitled8.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
marks=[90,30,90,39,57]
number=0
for mark in marks:
  number=number+1
  if mark <60:
    continue
    print("%d번 합격입니다" %number)

In [3]:
for number in range(len(marks)):
  if marks[number]<60:
    continue
    print("%d번 합격입니다."% (number+1))

In [25]:
for i in range(1,10):
    for j in range(1,10):
      print(i*j, end=" ")
    print('')

1 2 3 4 5 6 7 8 9
2 4 6 8 10 12 14 16 18
3 6 9 12 15 18 21 24 27
4 8 12 16 20 24 28 32 36
5 10 15 20 25 30 35 40 45
6 12 18 24 30 36 42 48 54
7 14 21 28 35 42 49 56 63
8 16 24 32 40 48 56 64 72
9 18 27 36 45 54 63 72 81

In [26]:
a=[1,2,3,4]
result=[]
for num in a:
  result.append(num*3)

print(result)

[3, 6, 9, 12]

In [32]:
result=[num*3 for num in a]
print(result)

[3, 6, 9, 12]

In [4]:
result=[x*y for x in range(1,10)
            for y in range(1,10)]
print(result)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 2, 4, 6, 8, 10, 12, 14, 16, 18, 3, 6, 9, 12, 15, 18, 21, 24, 27, 4, 8, 12, 16, 20, 24, 28, 32, 36, 5, 10, 15, 20, 25, 30, 35, 40, 45, 6, 12, 18, 24, 30, 36, 42, 48, 54, 7, 14, 21, 28, 35, 42, 49, 56, 63, 8, 16, 24, 32, 40, 48, 56, 64, 72, 9, 18, 27, 36, 45, 54, 63, 72, 81]

In [10]:
result=0
num=1
while num<=1000:
  if num % 3 ==0:
    result += num
  num += 1
print(result)

166833

In [24]:
star=0
while True:
  star+=1
  if star>10:break
  print("*"*star)

*
**
***
****
*****
******
*******
********
*********
**********

In [29]:
for v in range(1,20):
  print(v)

1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19

In [44]:
A=[70, 60, 55, 75, 95, 90, 80, 80, 85, 100]
total=0
for score in A:
  total += score
average= total/len(A)
print(average)

79.0

In [48]:
numb=[1,2,3,4,5,6,7]
result=[n*2 for n in numb if n%2==1]
print(result)

[2, 6, 10, 14]

In [50]:
result=[]
for n in numb:
  if n%2==1:
    result.append(n*2)
print(result)

[2, 6, 10, 14]

In [58]:
def add(a,b):
  return a+b

a=5
b=9
c=add(a,b)
print(c)

14

In [59]:
A=9
B=2
C=add(A,B)
print(C)

11

In [60]:
def add(a,b):
  print("%d 와 %d 의 합은 %d 입니다" %(a,b,a+b))
add(5,7)

5 와 7 의 합은 12 입니다

In [62]:
a= add(5,7)
print(a)

5 와 7 의 합은 12 입니다
None

In [65]:
def say():
  print('HI')
say()

HI

In [68]:
def add(a,b):
  return a+b
result=add(a=5,b=7)
print(result)

12

In [69]:
result1=add(a=3,b=4)
print(result1)

7

In [76]:
def addmany(*args):
  result=0
  for i in args:
    result=result+i
  return result

result = addmany(1,2,4,6,2,5,4,6,12,3,4)
print(result)

49

In [87]:
def add_mul(choice,*args):
  if choice == 'add':
    result=0
    for i in args:
      result=result+i
  elif choice == 'mul':
    result=1
    for i in args:
      result=result*i
  return result
result = add_mul('add',1,2,3,4,5)
result1= add_mul('mul',1,2,3,4,5)
print(result1)

120

In [88]:
def print_kwargs(**kwatgs):
  print(kwatgs)
print_kwargs(a=1)

{'a': 1}

In [93]:
print_kwargs(name='foo',age=3)

{'name': 'foo', 'age': 3}

In [100]:
def add_and_mul(a,b):
  return a+b, a*b

result,result1=add_and_mul(4,3)
print(result,result1)

7 12

In [103]:
def say_nick(nick):
  if nick=='바보':
    return
  print('별명은 %s 입니다'% nick)

say_nick('멍청이')
say_nick('great')
say_nick('바보')

별명은 멍청이 입니다
별명은 great 입니다