<a href="https://colab.research.google.com/github/JooHyunLimm/Python/blob/main/%EC%97%B0%EC%8A%B5%EB%AC%B8%EC%A0%9C4.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [34]:
bn = input('주민번호 입력 : ')
bn1 = bn.split('-')
date = bn1[1][1:3]
date0 = bn1[1][-1]
date1 = bn1[1][0]
date2 = bn.replace('-','')
date3 = 11 -(int(date2[0]) * 2 +
        int(date2[1]) * 3 +
        int(date2[2]) * 4 +
        int(date2[3]) * 5 +
        int(date2[4]) * 6 +
        int(date2[5]) * 7 +
        int(date2[6]) * 8 +
        int(date2[7]) * 9 +
        int(date2[8]) * 2 +
        int(date2[9]) * 3 +
        int(date2[10]) * 4 +
        int(date2[11]) * 5 ) % 11
if str(date3) == date0 :
    print('유효합니다.')
else:
    print('유효하지 않습니다.')


if date1 == '1' or date1 == '3':
    print('남자')
elif date1 == '2' or date1 == '4':
    print('여자')
else:
    print('none')

if date in ['00','01','02','03','04','05','06','07','08']:
    print("서울 입니다.")
elif date in ['09','10','11','12']:
    print("부산 입니다.")
else:
    print('none')

주민번호 입력 : 010126-3056813
유효합니다.
남자
서울 입니다.

In [43]:
import  requests

btc = requests.get("https://api.bithumb.com/public/ticker/").json()['data']
변동폭 = float(btc['max_price']) - float(btc['min_price'])
시가 = float(btc["opening_price"])
최고가 = float(btc["max_price"])
if (변동폭 + 시가) > 최고가:
  print('상승장')
elif (변동폭 + 시가) < 최고가:
  print('하락장')

상승장

In [45]:
list = [100,200,300]
list1 = ['김밥',"라면","튀김"]
for i in list:
    print(i + 10)
for i in list1:
    print("오늘의 메뉴 : ",i)
list1 = ["sk하이닉스","삼성전자","lg전자"]
for i in list1:
    print(i,i[0],len(i))
list = [1,2,3,4]
list1 = [2,3,4]
for i in list:
    print(3*i)
for i in list:
    if i <= 1 :
        pass
    else:
        print(i)
list = [1,2,3,4]
list1 = [2,3,4]
list2 = ["가","나","다","라"]
list2.reverse()
for i in list2:
    print(i)

110
210
310
오늘의 메뉴 :  김밥
오늘의 메뉴 :  라면
오늘의 메뉴 :  튀김
sk하이닉스 s 6
삼성전자 삼 4
lg전자 l 4
3
6
9
12
2
3
4

In [46]:
list = [3,-2,-5,0,44,31,-31,3,100,23,44,33,15]
list1 = ["i","study","python","language","!","god"]
list2 = ["A","b","C","d","E","f"]
for i in list:
    if i == 0 :
        pass
    elif (i %3) ==0 and (i<20):
        print(i)
    else:
        pass
for i in list1:
    if (len(i)) > 3:
        print(i)
    else: pass
for i in list2:
    if i.isupper():
        print(i)
    else: pass
for i in list2:
    if i.islower():
        print(i)
    else:
        pass

3
3
15
study
python
language
A
C
E
b
d
f

In [47]:
list = [3,-2,-5,0,44,31,-31,3,100,23,44,33,15]
list1 = ["i","study","python","language","!","god"]
list2 = ["A","b","C","d","E","f"]
list3 = ["hello.py","hi.py","ex01.java","ex02.ir","dd.c++","igo.c"]

for i in list1:
    print(i.capitalize())
for i in list3:
    print(i.split('.')[0].capitalize())
for i in list3:
    if (i.split('.')[1]) == 'py' or (i.split('.')[1]) == 'java':
        print(i)
    else:
        pass

I
Study
Python
Language
!
God
Hello
Hi
Ex01
Ex02
Dd
Igo
hello.py
hi.py
ex01.java

In [1]:
price_list = [32100,32150,32200,32250]
my_list = ["가","나","다","라","마"]
my_list1 = [100,200,400,800,1600,3200]
low_prices = [100,200,400,800,1000]
high_prices = [150,300,430,880,1000]

for i in range(len(price_list)):
    print(i,price_list[i])

for i in range(1,4):
    print((90 + 10 * i),price_list[i])

for i in range(2, len(my_list)):
    print(my_list[i-2], my_list[i-1], my_list[i])

for i in range(len(my_list1)-1):
    print(my_list1[i+1] - my_list1[i])

for i in range(1, len(my_list1)-1):
    print((my_list1[i-1]+my_list1[i]+my_list1[i+1])/3)
volatility = []
for i in range(len(low_prices)):
    volatility.append(high_prices[i] - low_prices[i])
print(volatility)

0 32100
1 32150
2 32200
3 32250
100 32150
110 32200
120 32250
가 나 다
나 다 라
다 라 마
100
200
400
800
1600
233.33333333333334
466.6666666666667
933.3333333333334
1866.6666666666667
[50, 100, 30, 80, 0]

In [2]:
apart = [[101,102],[201,202],[301,302]]
stock = {"시가":[100,200,300],"종가":[80,210,330]}
data = [
    [ 2000,  3050,  2050,  1980],
    [ 7500,  2050,  2050,  1980],
    [15450, 15050, 15550, 14900]
]

for i in apart:
    for d in i:
        print(d,"호")
    print("-----")
result = []
for i in data:
    sub =[]
    for d in i:
        sub.append(d*1.00014)
    result.append(sub)
print(result)

101 호
102 호
-----
201 호
202 호
-----
301 호
302 호
-----
[[2000.28, 3050.427, 2050.2870000000003, 1980.2772], [7501.05, 2050.2870000000003, 2050.2870000000003, 1980.2772], [15452.163, 15052.107, 15552.177, 14902.086000000001]]

In [4]:
ohlc = [["open", "high", "low", "close"],
        [100, 110, 70, 100],
        [200, 210, 180, 190],
        [300, 310, 300, 310]]
sum = 0
for i in ohlc[1:]:
    sum += (i[3] - i[0])
print(sum)

0