<a href="https://colab.research.google.com/github/JooHyunLimm/Python/blob/main/%EC%97%B0%EC%8A%B5%EB%AC%B8%EC%A0%9C2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
def gugu(a):
    result = []
    result.append(a*1)
    result.append(a*2)
    result.append(a*3)
    result.append(a*4)
    result.append(a*5)
    result.append(a*6)
    result.append(a*7)
    result.append(a*8)
    result.append(a*9)
    return result
print(gugu(7))

In [ ]:
def gugu(n):
    result =[]
    i=1
    while i <10:
        result.append(n*i)
        i = i+1
    return result
print(gugu(2))

In [ ]:
result = 0
for n in range(1,1000):
    if n %3 == 0 or n %5 ==0:
        result += n
print(result)

In [4]:
import sys

option = sys.argv[1]

if option == '-a':
    memo = sys.argv[2]
    f= open('memo.txt','a')
    f.write(memo)
    f.write('\n')
    f.close()
elif option == '-v':
    f=open('momo.txt')
    memo = f.read()
    print(memo)

In [5]:
def GetTotalPage(a,b):
    if a % b == 0:
       return a // b
    else:
        return  a // b +1

print(GetTotalPage(10,10))
print(GetTotalPage(15,10))
print(GetTotalPage(25,10))
print(GetTotalPage(30,10))

1
2
3
3

In [1]:
f= open('memo.txt','w')
for i in range(1,11):
    date = '%d번째 줄입니다.'%i
    f.write(date)
f.close()

In [10]:
numbers = [1,2,3,4,5,6,7,8,9,10]
a1 = []
a1 = [number for number in numbers if number %2 ==1]
print(a1)

[1, 3, 5, 7, 9]

In [15]:
string = '홀짝홀짝홀짝'
a=[]
for b in list(string):
    if b == '홀':
      a +=b
print(str(a))

['홀', '홀', '홀']

In [9]:
list(string)

['홀짝홀짝홀짝']

In [24]:
string12 = '홀짝홀짝홀짝홀짝홀짝홀짝'
print(string12[::2])

홀홀홀홀홀홀

In [15]:
for e in range(100):
    if e % 2 == 1:
        print(e,end = '')
    else:
        pass

13579111315171921232527293133353739414345474951535557596163656769717375777981838587899193959799

In [21]:
b= 0
for a in range(1,101):
    if a % 2 ==0:
      b += a
    else:
      pass
print(b)

2550

In [22]:
a = input('더할 숫자를 입력해 주세요:').split()
def sum_all(b):
    sum = 0
    for i in range(len(b)):
        sum = sum +int(b[i])
    return sum
print(sum_all(a))

더할 숫자를 입력해 주세요:1 3 5
9

In [24]:
a=1,3,5,7
for i in range(len(a)):
    print(int(a[i]),end = '')

1357

In [29]:
x = input('입력').split(',')
def abc(a):
    sum = 0
    for i in range(len(a)):
        sum = sum + int(a[i])
    return sum
print(abc(x))

입력1,3,5
9

In [33]:
phone_number = "010-8689-3187"
a= phone_number.replace('-','')
print(a,id(a),id(phone_number))
import webbrowser
webbrowser.open("https://google.com")
t1 = 'python'
t2 = 'java'
name1 = '김민수'
age1 = 10
name2 = "이철희"
age2 = 13
상장주식수 = "5,969,782,550"
print('name : %s, age : %d'%(name1,age1),'name : %s, age : %d'%(name2,age2),sep = '\n')
print('이름 : {}, 나이 : {}'.format(name1,age1),'이름 : {}, 나이 : {}'.format(name2,age2),sep = '\n')
a = int(상장주식수.replace(',',''))
print(f'이름 : {name1}, 나이 : {age1}\n이름: {name2} , 나이 : {age2}')
print(int(a),type(a))
date = "   samsung   "
date = date.strip(' ')
분기 = "2020/03(E) (IFRS연결)"
print(분기[:7])
print(date,len(date))

01086893187 139656055308720 139656200300784
name : 김민수, age : 10
name : 이철희, age : 13
이름 : 김민수, 나이 : 10
이름 : 이철희, 나이 : 13
이름 : 김민수, 나이 : 10
이름: 이철희 , 나이 : 13
5969782550 <class 'int'>
2020/03
samsung 7